.white-bg {
   .biodata-title {
      padding: 0.8em 0em 0.8em 4em;
      background-color: rgb(240, 240, 240);
      text-align: center;
      h3 {
         font-size: 1.3em;
      }

      a {
         text-decoration: none;
         color: $dark-color;
         &:hover {
            color: darken($color: $dark-color, $amount: 20%);
         }
      }
   }

   form {
      // padding: 0em 15em 0em 15em;
      margin: 0em 12em 0em 12em;
      .biodata-body {
         background-color: white;
         padding-bottom: 3em;
         .square {
            display: flex;
            justify-content: center;
            overflow: hidden;
            width: 10em;
            height: 10em;
            flex-direction: column;
            border-radius: 100em;
            img {
               align-self: center;
               margin: auto;
               width: 10em;
            }
         }

         .alamat-lengkap {
            padding: 1.5em 1em 5em 1em;
         }
      }
   }
}
