.white-bg {
   .harga {
      font-size: 1.3em;
      font-weight: 600;
      color: $dark-color;
   }

   .trolley-table {
      background: #ffffff;
      // padding: 1em;
      border-radius: 2em;
      .produk-title {
         font-size: 1.1em;
      }

      .harga {
         font-size: 1.1em;
      }

      .input-group {
         width: 8em;
         input [type="number"]::placeholder {
            text-align: center;
         }
      }

      th {
         text-align: center;
      }

      td,
      th {
         vertical-align: middle;
         img {
            width: 7em;
         }
      }
   }

   .sub-total {
      font-weight: 600;
      color: $text-color;
      background-color: white;
      border: 3px solid $primary-color;
      padding: 0.5em 0em 0.5em 0.5em;
      border-radius: 100em;
   }

   .total-harga {
      font-weight: 700;
      background-color: $primary-color;
      color: white;
      border-radius: 100px;
      padding: 0.5em 1.5em 0.5em 1.5em;
   }
}
