.white-bg {
   .harga {
      font-size: 1.3em;
      font-weight: 600;
      color: $dark-color;
   }

   .wishlist-table {
      background: #ffffff;
      padding: 3em;
      border-radius: 2em;
      .produk-title {
         font-size: 1.1em;
      }

      .harga {
         font-size: 1.1em;
      }

      th {
         text-align: center;
      }
      td,
      th {
         .square {
            width: 7em;
            height: 7em;
         }
         img {
            max-width: 100%;
            max-height: 100%;
         }
         vertical-align: middle;
      }
   }
}
