@import url("https://fonts.google.com/specimen/Montserrat?query=montserrat&selection.family=Montserrat:wght@200;300;400;500;600;700|Roboto:wght@700");
@import url("//db.onlinewebfonts.com/c/47e420c599ca5e9fe2b946075a1f8f7b?family=Segoe+Alt");
@font-face {
  font-family: "mayeka_demi_bold";
  src: url("../fonts/mayeka_demi_bold.woff2") format("woff2"), url("../fonts/mayeka_demi_bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mayeka_regular";
  src: url("../fonts/mayeka_regular.woff2") format("woff2"), url("../fonts/mayeka_regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mayeka_thin";
  src: url("../fonts/mayeka_thin.woff2") format("woff2"), url("../fonts/mayeka_thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mayeka_light";
  src: url("../fonts/mayeka_light.woff2") format("woff2"), url("../fonts/mayeka_light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mayeka_bold";
  src: url("../fonts/mayeka_bold.woff2") format("woff2"), url("../fonts/mayeka_bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.Merah {
  width: 1em;
  border-radius: 300em;
  background-color: red;
  color: red;
}

.Hijau {
  width: 1em;
  border-radius: 300em;
  background-color: green;
  color: green;
}

.Putih {
  width: 1em;
  border-radius: 300em;
  background-color: #d4d4d4;
  color: #d4d4d4;
}

.Hitam {
  width: 1em;
  border-radius: 300em;
  background-color: black;
  color: black;
}

.Coklat {
  width: 1em;
  border-radius: 300em;
  background-color: #9c6c3f;
  color: #9c6c3f;
}

.Pink {
  width: 1em;
  border-radius: 300em;
  background-color: #f06dbe;
  color: #f06dbe;
}

.Silver {
  width: 1em;
  border-radius: 300em;
  background-color: dimgray;
  color: dimgray;
}

.total-body {
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0em 4em 4em 0em;
}

.total-body .total-cart-floated {
  font-weight: 700;
  font-size: 1.1em;
  color: #a68d89;
  background-color: white;
  border: 3px solid #eaac92;
  padding: 0.5em 0em 0.5em 1.3em;
  border-radius: 100em;
}

.total-body .total-price {
  font-weight: 700;
  background-color: #edb9a3;
  color: white;
  border-radius: 100px;
  padding: 0.5em 1.5em 0.5em 1.5em;
}

.image-bg .hero {
  display: flex;
  padding: 5em;
  background-image: url(../images/assets/hero.png);
  height: 33.5vmax;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

.image-bg .hero .head-promo {
  text-align: center;
}

.image-bg .hero .head-promo .greeting-customers {
  color: white;
  font-size: 1.6em;
  letter-spacing: 0.2px;
  font-weight: 500;
  text-shadow: 1px 1px 10px rgba(54, 54, 54, 0.9);
  background-color: rgba(152, 175, 187, 0.6);
  padding: 0.4em 1em 0.4em 1em;
  border: 3px solid rgba(121, 151, 167, 0.8);
  border-radius: 100em;
}

.image-bg .hero .head-promo h1 {
  margin-bottom: 0.5em;
  color: white;
  font-size: 2.5em;
  letter-spacing: 0.2px;
  font-weight: 700;
  text-shadow: 1px 1px 10px rgba(54, 54, 54, 0.9);
}

.image-bg .hero .head-promo img {
  width: 20em;
  filter: drop-shadow(1px 1px 10px rgba(54, 54, 54, 0.9));
}

.image-bg .hero .head-promo .order-now {
  margin: 1em 1em 0em 1em;
  background-color: #e18a79;
  border: none;
  font-size: 1.1em;
  border-radius: 5em;
  font-weight: 700;
  padding: 0.6em 1em 0.6em 1em;
  box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.4);
}

.image-bg .hero .head-promo .order-now:hover, .image-bg .hero .head-promo .order-now:active, .image-bg .hero .head-promo .order-now:focus {
  border: none;
  background-color: #e49586;
}

.image-bg .visi {
  width: 100%;
  padding: 1em;
  box-shadow: 0px 0px 15px rgba(45, 45, 45, 0.4);
  width: 100%;
  background-color: white;
  overflow: hidden;
}

.image-bg .visi h2 {
  letter-spacing: 3px;
  color: #4d4d4d;
  font-family: "mayeka_demi_bold";
  margin-top: 0.8em;
  text-align: center;
  font-size: 2em;
}

.image-bg .visi .visi-detail {
  color: #2e2e2e;
  padding: 3em;
  text-align: center;
  transition: 0.3s transform ease;
}

.image-bg .visi .visi-detail img {
  width: 3em;
  margin-bottom: 1em;
}

.image-bg .visi .visi-detail h3 {
  font-weight: 700;
  font-size: 1.2em;
}

.image-bg .visi .visi-detail p {
  font-size: 0.9em;
  line-height: 1.5em;
}

.image-bg .visi .visi-detail:hover {
  transform: scale(1.07);
}

.image-bg .content .search-container {
  margin: 1.5em;
  display: flex;
  justify-content: center;
}

.image-bg .content .search-container input[type="text"] {
  width: 25em;
  color: white;
  font-weight: 500;
  border-radius: 5em;
  background-color: #edb9a3;
  padding: 1em 2em 1em 1.1em;
  font-size: 1em;
  border: 0.2em solid #eaaf96;
  box-shadow: 1px 1px 3px rgba(77, 77, 77, 0.5);
}

.image-bg .content .search-container input[type="text"][type="text"]::placeholder {
  color: white;
}

.image-bg .content .search-container button {
  color: white;
  float: right;
  margin-top: 0.35em;
  margin-left: -2em;
  background: transparent;
  font-size: 1em;
  border: none;
  cursor: pointer;
}

.image-bg .content .sub-title {
  text-decoration: none;
  font-size: 1.5em;
  color: #4d4d4d;
  font-weight: 700;
  padding: 0em 0.2em 0.2em 0.6em;
  border-left: 0.3em solid #98afbb;
}

.image-bg .content .sub-title:hover {
  color: #676767;
}

.image-bg .content .main-category {
  display: flex;
  margin: 1em;
  height: auto;
  padding: 1em 0em 1em 0em;
  background-color: white;
}

.image-bg .content .main-category .produk {
  padding: 0em 6em 0em 6em;
}

.image-bg .content .main-category .produk h5 {
  font-weight: 700;
}

.image-bg .content .main-category .produk a {
  color: #98afbb;
  font-weight: 700;
  text-decoration: none;
}

.image-bg .content .main-category .produk a:hover {
  color: #7997a7;
}

.image-bg .content .main-category .produk img {
  margin-right: 1em;
  width: 10em;
  float: left;
}

.image-bg .content .main-category .produk .produk-title {
  font-size: 1.3em;
  font-weight: 600;
  color: #e18a79;
  text-decoration: none;
}

.image-bg .content .main-category .produk .produk-title:hover {
  color: #d8664f;
}

.image-bg .content .main-category .produk .action-button .heart-wishtlist {
  width: 2em;
  color: #c5c5c5;
  font-size: 1.3em;
}

.image-bg .content .main-category .produk .action-button .heart-wishtlist:active {
  color: #e18a79;
}

.image-bg .content .main-category .produk .action-button .heart-wishtlist:hover {
  color: #b3b3b3;
}

.image-bg .content .main-category .produk .action-button .cart-trolley {
  width: 2em;
  color: #c5c5c5;
  font-size: 1.3em;
}

.image-bg .content .main-category .produk .action-button .cart-trolley:active {
  color: #5e7e8f;
}

.image-bg .content .main-category .produk .action-button .cart-trolley:hover {
  color: #b3b3b3;
}

.image-bg .sidebar .testimoni {
  margin-top: 1.5em;
  padding: 1em;
  text-align: center;
}

.image-bg .sidebar .testimoni img {
  border-radius: 50%;
  width: 6em;
  margin-bottom: 0.8em;
}

.image-bg .sidebar .testimoni p {
  font-size: 0.9em;
  font-weight: 600;
}

.image-bg .sidebar .article {
  text-align: center;
  background-color: white;
  padding: 1.3em;
  width: auto;
  height: auto;
  overflow: hidden;
}

.image-bg .sidebar .article .slide-button {
  font-size: 0.5em;
  opacity: 0.5;
}

.image-bg .sidebar .article a {
  color: #4d4d4d;
  text-decoration: none;
  font-size: 1.6em;
}

.image-bg .sidebar .article a h4 {
  margin: 0.3em 0em 0.6em 0em;
  font-weight: 600;
}

.image-bg .sidebar .article a:hover {
  color: #737373;
}

.image-bg .sidebar .article img {
  width: 15em;
}

.image-bg .sidebar .article a h5 {
  margin-top: 1em;
  text-align: left;
  font-weight: 700;
  font-size: 0.65em;
}

.image-bg .sidebar .article a:hover {
  color: #737373;
}

.image-bg .sidebar .article p {
  font-size: 0.9em;
  line-height: 1.4em;
  text-align: left;
}

.image-bg .sidebar .sidebar-quick-info {
  padding: 1.5em;
  text-align: center;
  background-color: white;
  margin-top: 2em;
}

.image-bg .sidebar .sidebar-quick-info a {
  text-decoration: none;
  display: block;
}

.image-bg .sidebar .sidebar-quick-info li {
  list-style-type: none;
}

.image-bg .sidebar .sidebar-quick-info h4 {
  font-weight: 600;
}

.image-bg .sidebar .sidebar-quick-info .marketplace-info p {
  color: #98afbb;
  font-weight: 600;
}

.image-bg .sidebar .sidebar-quick-info .marketplace-info a {
  display: inline-block;
}

.image-bg .sidebar .sidebar-quick-info .marketplace-info a img {
  width: 2.3em;
  margin: 0.4em;
}

.image-bg .sidebar .sidebar-quick-info .contact-us {
  margin-top: 2em;
}

.image-bg .sidebar .sidebar-quick-info .contact-us a {
  display: inline-block;
  color: #98afbb;
  font-weight: 600;
}

.image-bg .sidebar .sidebar-quick-info .contact-us a:hover {
  color: #89a3b1;
}

.image-bg .sidebar .sidebar-quick-info .contact-us li {
  text-align: left;
}

.image-bg .sidebar .sidebar-quick-info .contact-us img {
  width: 1.4em;
  margin: 0.4em;
}

.image-bg .marchendise-list {
  margin: auto;
  margin-top: 2em;
}

.image-bg .filter-harga input {
  width: 7.5em;
}

.image-bg .product-card {
  margin: 0.3em;
}

.image-bg .product-card .square {
  width: 15em;
  height: 15em;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.image-bg .product-card .square img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
  flex-shrink: 0;
}

.image-bg .product-card .product-title {
  font-size: 1.1em;
  font-weight: 600;
  color: #e18a79;
  text-decoration: none;
}

.image-bg .product-card .product-title:hover {
  color: #d8664f;
}

.image-bg .product-card .product-price {
  color: #4d4d4d;
  font-weight: 700;
  font-size: 1em;
}

.image-bg .product-card img {
  width: 14.2em;
  overflow: hidden;
}

.image-bg .product-card .action-button button {
  border: none;
  background-color: transparent;
}

.image-bg .product-card .action-button .heart-wishtlist {
  color: #c5c5c5;
  font-size: 1.1em;
}

.image-bg .product-card .action-button .heart-wishtlist:active {
  color: #e18a79;
}

.image-bg .product-card .action-button .heart-wishtlist:hover {
  color: #b3b3b3;
}

.image-bg .product-card .action-button .cart-trolley {
  color: #c5c5c5;
  font-size: 1.1em;
}

.image-bg .product-card .action-button .cart-trolley:active {
  color: #5e7e8f;
}

.image-bg .product-card .action-button .cart-trolley:hover {
  color: #b3b3b3;
}

.image-bg .pagination {
  display: flex;
  justify-content: center;
}

.image-bg .pagination ul li {
  margin: 0em 0.5em 0em 0.5em;
  display: inline;
  text-align: center;
}

.image-bg .pagination ul li a {
  text-decoration: none;
  color: #4d4d4d;
}

.image-bg .pagination ul li a:hover {
  color: gray;
}

body .sub-title {
  text-decoration: none;
  font-size: 1.5em;
  color: #4d4d4d;
  font-weight: 700;
  padding: 0em 0.2em 0.2em 0.6em;
  border-left: 0.3em solid #98afbb;
}

body .sub-title:hover {
  color: #676767;
}

body .product-details {
  padding: 1em;
  background-color: white;
  height: auto;
}

body .product-details .product-image-list {
  list-style-type: none;
}

body .product-details .product-image-list .thumb {
  width: 5em;
  margin: 0.4em 1.5em 0.4em 0em;
}

body .product-details .product-image-list .thumb:hover {
  opacity: 0.8;
  cursor: pointer;
}

body .product-details .jumbo {
  margin-top: 0.4em;
  height: 28.3em;
}

body .product-details .jumbo:hover {
  cursor: pointer;
}

body .product-details .overlay {
  display: flex;
  justify-content: center;
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  transition: 0.8s;
  text-align: center;
  padding: 6em 0em;
}

body .product-details .overlay img {
  max-height: 100%;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

body .product-details .overlay .close {
  position: absolute;
  top: 60px;
  left: 48%;
  color: white;
  opacity: 0;
}

body .product-details .overlay:target {
  width: auto;
  height: auto;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

body .product-details .overlay:target img {
  animation: zoomAndFade 0.7s;
}

body .product-details .overlay:target .close {
  animation: slideDownFade 0.6s 0.2s forwards;
  z-index: 1;
}

@keyframes zoomAndFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideDownFade {
  0% {
    opacity: 0;
    margin-top: -20px;
  }
  100% {
    opacity: 0.5;
    margin-top: 0px;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

body .product-details .fade {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

body .product-details .active {
  opacity: 0.5;
}

body .product-details .product-description .produk-title {
  font-size: 1.8em;
  color: #e18a79;
  font-weight: 700;
}

body .product-details .product-description p {
  line-height: 1.4em;
}

body .product-details .product-description h4 {
  font-weight: 700;
}

body .product-details .product-description .color-variant {
  padding: 0.7em 0em 1.4em 0em;
  border-top: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
}

body .product-details .product-description .btn-rounded-outline {
  padding: 0.3em 0.3em 0.3em 0.9em;
  border: 1px solid #4d4d4d;
  border-radius: 100em;
  margin: 0em 0.3em 0.3em 0.3em;
}

body .product-details .product-description .btn-rounded-outline:hover {
  background-color: #e6e6e6;
}

body .product-details .product-description .btn-rounded-outline:active {
  background-color: #e6e6e6;
}

body .product-details .product-description .input-group {
  width: 12em;
}

body .product-details .product-description .input-group input [type="number"]::placeholder {
  text-align: center;
}

body .product-details .product-description .product-action {
  padding: 0.5em 1.5em 0.5em 1.5em;
  border-radius: 100em;
  font-weight: 700;
  color: white;
}

body .product-details .product-description .product-action.trolley-button {
  background-color: #e18a79;
  border: 2px solid #eaaea3;
}

body .product-details .product-description .product-action.trolley-button:hover, body .product-details .product-description .product-action.trolley-button:active, body .product-details .product-description .product-action.trolley-button:visited {
  background-color: #e5998a;
}

body .product-details .product-description .product-action.wishlist-button {
  background-color: #98afbb;
  border: 2px solid #b7c7cf;
}

body .product-details .product-description .product-action.wishlist-button:hover, body .product-details .product-description .product-action.wishlist-button:active, body .product-details .product-description .product-action.wishlist-button:visited {
  background-color: #a4b9c3;
}

body .panel-comment img {
  width: 2em;
  margin: 0.8em 1em 0.8em 0.8em;
}

body {
  background-color: white;
}

body .detail-pemesanan {
  background-color: white;
}

body .detail-pemesanan h5 {
  text-align: center;
}

body .detail-pemesanan .catatan-pemesanan {
  height: 6em;
}

body .cart-detail {
  background-color: #f9f9f9;
}

body .cart-detail h5 {
  text-align: center;
}

body .cart-detail table th {
  text-align: center;
}

body .cart-detail table th,
body .cart-detail table td {
  vertical-align: middle;
}

body .cart-detail .sub-total {
  font-weight: 600;
  color: #4d4d4d;
  background-color: white;
  border: 3px solid #e18a79;
  padding: 0.5em 0em 0.5em 0.5em;
  border-radius: 100em;
}

body .cart-detail .total-harga {
  font-weight: 700;
  background-color: #e18a79;
  color: white;
  border-radius: 100px;
  padding: 0.5em 1.5em 0.5em 1.5em;
}

body .cart-detail .total-bayar {
  font-size: 1.3em;
  color: #a68d89;
}

body .cart-detail .pembayaran-text {
  font-size: 0.8em;
  line-height: 1.4em;
}

body .cart-detail .pesan-button {
  margin: auto;
  width: 90%;
  background-color: #e18a79;
  border-radius: 100em;
  color: white;
}

body .cart-detail .pesan-button:hover, body .cart-detail .pesan-button:active, body .cart-detail .pesan-button:visited {
  background-color: #e5998a;
}

.image-bg .detail-pembayaran {
  padding: 2em;
  background-color: white;
}

.image-bg .detail-pembayaran a {
  color: #a68d89;
}

.image-bg .detail-pembayaran a:hover {
  color: #816661;
}

.image-bg .detail-pembayaran W .total-pembayaran {
  color: #e18a79;
  font-size: 1.5em;
  font-weight: 700;
  margin: 0em 21em 0em 21em;
  padding: 0.5em 1em 0.5em 1em;
  border: 1px solid #b6b6b6;
  border-radius: 100em;
}

.image-bg .detail-pembayaran .kode-pemesanan {
  font-size: 1.5em;
  margin: 0em 22em 0em 22em;
  padding: 0.5em 1em 0.5em 1em;
  border: 1px solid #b6b6b6;
}

.image-bg .bank-list img {
  width: 10em;
  vertical-align: middle;
}

.image-bg .bank-list span {
  font-size: 0.8em;
}

.image-bg .bank-list a {
  font-size: 0.9em;
}

body .riwayat-pemesanan {
  padding: 3em;
  background-color: white;
  border-radius: 2em;
}

body .riwayat-pemesanan table .produk-title {
  display: block;
  font-size: 1em;
}

body .riwayat-pemesanan table .upload-bukti-pembayaran {
  font-size: 0.8em;
  line-height: 1.5em;
  color: #a68d89;
}

body .riwayat-pemesanan table .upload-bukti-pembayaran:hover {
  color: #90716c;
}

body .riwayat-pemesanan table .total-riwayat-pembelian {
  color: #a68d89;
  font-weight: 700;
}

body .riwayat-pemesanan table .status-pembayaran {
  border: 1px solid #a68d89;
  border-radius: 100em;
}

body .riwayat-pemesanan table th {
  text-align: center;
}

body .riwayat-pemesanan table th,
body .riwayat-pemesanan table td {
  vertical-align: middle;
}

.white-bg .biodata-title {
  padding: 0.8em 0em 0.8em 4em;
  background-color: #f0f0f0;
  text-align: center;
}

.white-bg .biodata-title h3 {
  font-size: 1.3em;
}

.white-bg .biodata-title a {
  text-decoration: none;
  color: #a68d89;
}

.white-bg .biodata-title a:hover {
  color: #735a56;
}

.white-bg form {
  margin: 0em 12em 0em 12em;
}

.white-bg form .biodata-body {
  background-color: white;
  padding-bottom: 3em;
}

.white-bg form .biodata-body .square {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 10em;
  height: 10em;
  flex-direction: column;
  border-radius: 100em;
}

.white-bg form .biodata-body .square img {
  align-self: center;
  margin: auto;
  width: 10em;
}

.white-bg form .biodata-body .alamat-lengkap {
  padding: 1.5em 1em 5em 1em;
}

body .modal-title {
  text-align: center;
  margin-left: 10em;
}

body a {
  color: #a68d89;
}

body a:hover {
  color: #7e635f;
}

body .modal-button {
  border: none;
  background-color: #e18a79;
  color: white;
  width: 100em;
}

body .modal-button:hover {
  background-color: #e69c8e;
}

.white-bg .harga {
  font-size: 1.3em;
  font-weight: 600;
  color: #a68d89;
}

.white-bg .wishlist-table {
  background: #ffffff;
  padding: 3em;
  border-radius: 2em;
}

.white-bg .wishlist-table .produk-title {
  font-size: 1.1em;
}

.white-bg .wishlist-table .harga {
  font-size: 1.1em;
}

.white-bg .wishlist-table th {
  text-align: center;
}

.white-bg .wishlist-table td,
.white-bg .wishlist-table th {
  vertical-align: middle;
}

.white-bg .wishlist-table td .square,
.white-bg .wishlist-table th .square {
  width: 7em;
  height: 7em;
}

.white-bg .wishlist-table td img,
.white-bg .wishlist-table th img {
  max-width: 100%;
  max-height: 100%;
}

.white-bg .harga {
  font-size: 1.3em;
  font-weight: 600;
  color: #a68d89;
}

.white-bg .trolley-table {
  background: #ffffff;
  border-radius: 2em;
}

.white-bg .trolley-table .produk-title {
  font-size: 1.1em;
}

.white-bg .trolley-table .harga {
  font-size: 1.1em;
}

.white-bg .trolley-table .input-group {
  width: 8em;
}

.white-bg .trolley-table .input-group input [type="number"]::placeholder {
  text-align: center;
}

.white-bg .trolley-table th {
  text-align: center;
}

.white-bg .trolley-table td,
.white-bg .trolley-table th {
  vertical-align: middle;
}

.white-bg .trolley-table td .square,
.white-bg .trolley-table th .square {
  width: 7em;
  height: 7em;
}

.white-bg .trolley-table td .square img,
.white-bg .trolley-table th .square img {
  max-width: 100%;
  max-height: 100%;
}

.white-bg .sub-total {
  font-weight: 600;
  color: #4d4d4d;
  background-color: white;
  border: 3px solid #e18a79;
  padding: 0.5em 0em 0.5em 0.5em;
  border-radius: 100em;
}

.white-bg .total-harga {
  font-weight: 700;
  background-color: #e18a79;
  color: white;
  border-radius: 100px;
  padding: 0.5em 1.5em 0.5em 1.5em;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.container-main {
  margin: auto;
  max-width: 1320px;
}

.white-bg {
  background-color: white;
}

.image-bg {
  background-image: url(../images/assets/bgbody.png);
}

body {
  background-repeat: repeat;
  background-size: 350px;
  text-decoration: none;
  color: #4d4d4d;
  line-height: 1.7em;
  letter-spacing: 0.4px;
}

body .navbar-main {
  background-color: #e18a79;
}

body .navbar-main .profile-dropdown {
  margin-left: -8em;
}

body .navbar-main .profile-dropdown-unlogin {
  margin-left: -7.2em;
}

body .navbar-main .logo-home {
  width: 10em;
  margin-left: -5em;
}

body .navbar-main .square {
  overflow: hidden;
  width: 2.2em;
  height: 2.2em;
  border-radius: 100em;
}

body .navbar-main .square .profile {
  align-self: center;
  margin: -1em 0em 0em -0.6em;
  width: 2.4em;
}

body .navbar-main .motto-bar {
  background-color: white;
  width: 100%;
  height: 30px;
  box-shadow: 0px 4px 10px rgba(104, 104, 104, 0.8);
}

body .navbar-main .motto-bar h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  line-height: 2.3em;
}

body .footer {
  margin-top: 1em;
  padding-top: 3em;
  color: white;
  background-color: #e18a79;
  text-align: center;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
}

body .footer h4 {
  margin-bottom: 1.4em;
}

body .footer .social-media ul li {
  text-align: left;
  list-style-type: none;
  margin-left: -3em;
}

body .footer .social-media ul li img {
  margin-left: 1em;
  margin-bottom: 0.7em;
  width: 1.7em;
  margin-right: 0.3em;
}

body .footer .social-media ul li a {
  font-size: 1em;
  color: white;
}

body .footer .marketplace {
  padding: 0em 2em 0em 2em;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

body .footer .marketplace img {
  margin: 0em 0.8em 0.8em 0.8em;
}

body .footer .pembayaran ul li {
  list-style-type: none;
  margin-left: -3em;
}

body .footer .pembayaran ul li img {
  width: 8em;
  margin: 0.4em;
}

@media (max-width: 768px) {
  body .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  body .navbar-main li {
    text-align: center;
    border-bottom: 0.3px solid white;
  }
  body .navbar-main li .profile-dropdown,
  body .navbar-main li .profile-dropdown-unlogin {
    margin-left: 0em;
  }
  body .navbar-main li .square {
    overflow: hidden;
    width: 2.2em;
    height: 2.2em;
    border-radius: 100em;
  }
  body .navbar-main li .square .profile {
    align-self: center;
    margin: -1em 0em 0em 0em;
    width: 2.4em;
  }
  body .hero {
    height: 23em;
  }
  body .hero .head-promo {
    margin-top: -10em;
  }
  body .hero .head-promo h1 {
    font-size: 2em;
  }
  body .hero .head-promo img {
    width: 15em;
  }
  body .logo-home,
  body .sidebar {
    display: none;
  }
  body .footer .marketplace {
    padding: 2em;
    border-left: none;
    border-right: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
  body .pembayaran h4 {
    margin-top: 1.5em;
  }
  body .footer .social-media ul li {
    text-align: center;
  }
}

body .produk-title {
  font-size: 1.3em;
  font-weight: 600;
  color: #e18a79;
  text-decoration: none;
}

body .produk-title:hover {
  color: #d8664f;
}
/*# sourceMappingURL=style.css.map */