@import "login";
@import "register";
@import "akun";
@import "customers";
@import "kurir";
@import "list_tujuan_pengiriman";
@import "pemesanan";

body {
   background-color: salmon;
   .sidebar {
      height: 100%;
      background-color: white;
      padding: 2em 2em 2em 2em;
      margin-top: 2em;

      .profile {
         border-bottom: 1px solid #999999;
         img {
            align-self: center;
            width: 5em;
         }
         a,
         p {
            align-self: center;
         }
      }

      .menu-bar {
         .hub-admin-btn {
            margin-top: 10em;
         }
      }
   }

   .content {
      padding: 2em 3em 2em 3em;
      margin: 2em 2em 2em 1em;
      background-color: white;
      .profile-details {
         img {
            width: 7em;
         }
      }

      .table-main {
         table {
            th {
               text-align: center;
            }
            th,
            td {
               img {
                  width: 4em;
               }
               vertical-align: middle;
            }
         }
      }
   }

   .modal {
      .modal-title {
         margin-left: 8em;
      }
   }
}
